<PAGE background="0xFFFFFF" shadow="true" width="40%" alignment="right">

<BUTTON background="0xffffff" action="lightScheme" colour="0x000000">A</BUTTON>
<BUTTON action="darkScheme" background="0x000000" colour="0xffffff">A</BUTTON>

<BUTTON action="fontBigger">A +</BUTTON> 
<BUTTON action="fontSmaller">A -</BUTTON>

<BUTTON action="imageBigger">Image +</BUTTON>
<BUTTON action="imageSmaller">Image -</BUTTON>

<BUTTON name="menu"/>
</PAGE>